.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: black;
  display: -webkit-flex;
  display: flex;
}

.link.active {
  color: #e84a5f;
}
.nav {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.NavLink {
  display: flex;
  gap: 25px;
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: black;
}
.navRegister {
  display: flex;
  margin-left: 700px;
}
