.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: black;
}

.link.active {
  color: #e84a5f;
}
.nav {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: center;
}

.NavLink {
  display: flex;
  gap: 25px;
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: black;
}
.navRegistor {
  display: flex;
  gap: 25px;
}
